@{
    ViewData["Title"] = "Home Page";
}
    <head>

    </head>
    <body>
        <div>
            <div class="row">
                <div class="col-1">
                        <img class="btnImage" src="~/img/left-turn-arrow-512.png" onclick="Jakob()"/>
                
                </div>
                <div class="col-1">
                    <img class="btnImage" style="transform: scaleX(-1)" src="~/img/left-turn-arrow-512.png" onclick="Jakob()" />
                </div>
            </div>
        </div>
        <div>


        </div>
        <div>
            <button type="button" width="50" onclick="Jakob()">
                Click here
            </button>
        </div>


        <script src="~/js/FunktionalitetNess.js"></script>

    </body>
